header,
.header {
  background: var(--clr-white);
  position: fixed;
  width: 100%;
  z-index: 1;

  &__wrapper {
    padding: 10px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    font-family: var(--ff-base-font-family);
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-weight: 600;
    flex: 1;
  }
  &__menu {
    display: flex;
    gap: 1em;
    transition: all 1s;
   

    .modebtn {
      cursor: pointer;
   
  
  
    }
  }
}
