.products {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $white;
  z-index: 9;
  .menu-secondary-background-color {
    background: $black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .close,
  .menu-title {
    z-index: 1000;
    position: absolute;
    color: $black;
    top: 3rem;
    right: 5.8rem;
    // display: flex;
    // align-items: center;
    // text-transform: uppercase;
    letter-spacing: 0.5rem;
    cursor: pointer;
    svg {
      height: 30px;
    }
  }
  .menu-title {
    left: 5.8rem;
    font-size: 1.4rem;
  }
}

.menu {
  height: 100vh;
  position: relative;
  background: $red-1;
  height: 100%;
  overflow: hidden;
  .wrapper {
    position: relative;
    .menu-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8rem 0;
      height: 100vh;
      nav {
        display: block;
        ul {
          width: 100%;
          display: block;
          li {
            position: relative;
            font-size: 6rem;
            font-weight: 700;
            cursor: pointer;
            height: 135px;
            overflow: hidden;
            position: relative;
            width: 700px;

            a {
              position: absolute;
              color: rgb(138, 71, 71);
              text-decoration: none;
              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
